{% trans_default_domain 'KreyuDataTable' %}

{# Base HTML Theme #}

{% block data_table %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {{ data_table_theme_block('header') }}
        {{ data_table_theme_block('table') }}
        {{ data_table_theme_block('footer') }}
    </turbo-frame>
{% endblock %}

{% block header %}
    {% if filtration_enabled and filtration_form is not empty %}
        {{ data_table_theme_block('filtration_form') }}
        {{ data_table_theme_block('filtration_form_submit') }}
    {% endif %}

    {{ block('global_actions') }}
{% endblock %}

{% block table %}
    <table{{ _self.attributes(table_attr ?? {}) }}>
        {{ data_table_theme_block('table_head') }}
        {{ data_table_theme_block('table_body') }}
    </table>
{% endblock %}

{% block footer %}
    {% if pagination_enabled and pagination.vars.page_count > 1 %}
        {% with pagination.vars|merge({ themes }) only %}
            {{ data_table_theme_block('pagination') }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block table_head %}
    <thead>
        {% for row in [header_row] %}
            {% with row.vars|merge({ children: row.children, themes }) only %}
                {{ data_table_theme_block('header_row') }}
            {% endwith %}
        {% endfor %}
    </thead>
{% endblock %}

{% block table_body %}
    <tbody>
        {% if value_rows is not empty %}
            {% for row in value_rows %}
                {% with row.vars|merge({ children: row.children, themes }) only %}
                    {{ data_table_theme_block('value_row') }}
                {% endwith %}
            {% endfor %}
        {% else %}
            {{ data_table_theme_block('no_results_row') }}
        {% endif %}
    </tbody>
{% endblock %}

{% block header_row %}
    <tr{{ _self.attributes(attr) }}>
        {% for column in children %}
            {% with column.vars|merge({ column, themes }) only %}
                {{ data_table_theme_block('header_row_cell') }}
            {% endwith %}
        {% endfor %}
    </tr>
{% endblock %}

{% block value_row %}
    <tr{{ _self.attributes(attr) }}>
        {% for column in children %}
            {% with column.vars|merge({ column, themes }) only %}
                {{ data_table_theme_block('value_row_cell') }}
            {% endwith %}
        {% endfor %}
    </tr>
{% endblock %}

{% block no_results_row %}
    <tr{{ _self.attributes(attr ?? {}) }}>
        {{ data_table_theme_block('no_results_row_cell') }}
    </tr>
{% endblock %}

{% block header_row_cell %}
    <th{{ _self.attributes(attr) }}>
        {{ data_table_column_header(column) }}
    </th>
{% endblock %}

{% block value_row_cell %}
    <td{{ _self.attributes(attr) }}>
        {{ data_table_column_value(column) }}
    </td>
{% endblock %}

{% block no_results_row_cell %}
    <td{{ _self.attributes({ colspan: header_row.children|length }|merge(attr ?? {})) }}>
        {{ data_table_theme_block('no_results_message') }}
    </td>
{% endblock %}

{% block no_results_message 'No results found'|trans(domain='KreyuDataTable') %}

{% block global_actions %}
    {% for action in actions %}
        {{ data_table_theme_block_old(action) }}
    {% endfor %}
{% endblock %}

{% block filtration_form %}
    {% form_theme filtration_form with form_themes ?? [_self] %}

    {{ form_start(filtration_form, { attr: { 'data-turbo-action': 'advance' } }|merge(form_attr ?? {})) }}
        {{ data_table_theme_block('filtration_form_content') }}
    {{ form_end(filtration_form) }}
{% endblock %}

{% block filtration_form_content %}
    {% for filter_form in filtration_form|filter(e => not e.rendered) %}
        {{ data_table_theme_block('filtration_form_row') }}
    {% endfor %}
{% endblock %}

{% block filtration_form_row %}
    {{ form_row(filter_form) }}
{% endblock %}

{% block filtration_form_submit %}
    <button{{ _self.attributes({ form: filtration_form.vars.id, 'data-turbo-action': 'advance' }|merge(attr ?? {})) }}>
        {{ 'Filter'|trans({}, 'KreyuDataTable') }}
    </button>
{% endblock %}

{% block pagination %}
    {{ data_table_theme_block('pagination_counters') }}
    {{ data_table_theme_block('pagination_controls') }}
{% endblock %}

{% block pagination_controls %}
    {% if has_previous_page %}
        {{ data_table_theme_block('pagination_first') }}
        {{ data_table_theme_block('pagination_previous') }}
    {% else %}
        {{ data_table_theme_block('pagination_first_disabled') }}
        {{ data_table_theme_block('pagination_previous_disabled') }}
    {% endif %}

    {% for page_number in range(first_visible_page_number, last_visible_page_number) %}
        {% if page_number == current_page_number %}
            {{ data_table_theme_block('pagination_page_active') }}
        {% else %}
            {{ data_table_theme_block('pagination_page') }}
        {% endif %}
    {% endfor %}

    {% if has_next_page %}
        {{ data_table_theme_block('pagination_next') }}
        {{ data_table_theme_block('pagination_last') }}
    {% else %}
        {{ data_table_theme_block('pagination_next_disabled') }}
        {{ data_table_theme_block('pagination_last_disabled') }}
    {% endif %}
{% endblock %}

{% block pagination_counters %}
    <span>{{ data_table_theme_block('pagination_counters_message') }}</span>
{% endblock %}

{% block pagination_counters_message %}
    {{- 'Showing %current_page_first_item_index% - %current_page_last_item_index% of %total_item_count%'|trans({
        '%current_page_first_item_index%': current_page_first_item_index|number_format(0, '', ' '),
        '%current_page_last_item_index%': current_page_last_item_index|number_format(0, '', ' '),
        '%total_item_count%': total_item_count|number_format(0, '', ' ')
    }, 'KreyuDataTable') -}}
{% endblock %}

{% block pagination_first %}
    {% set link_attr = { href: _self.current_path({ (page_parameter_name): 1 }), 'data-turbo-action': 'advance' }|merge(link_attr ?? {}) %}

    <a{{ _self.attributes(link_attr) }}>
        {{- data_table_theme_block('pagination_first_message') -}}
    </a>
{% endblock %}

{% block pagination_first_disabled %}
    <span>{{- data_table_theme_block('pagination_first_message') -}}</span>
{% endblock %}

{% block pagination_first_message '«' %}

{% block pagination_previous %}
    {% set link_attr = { href: _self.current_path({ (page_parameter_name): current_page_number - 1 }), 'data-turbo-action': 'advance' }|merge(link_attr ?? {}) %}

    <a{{ _self.attributes(link_attr) }}>
        {{- data_table_theme_block('pagination_previous_message') -}}
    </a>
{% endblock %}

{% block pagination_previous_disabled %}
    <span>{{- data_table_theme_block('pagination_previous_message') -}}</span>
{% endblock %}

{% block pagination_previous_message '‹' %}

{% block pagination_page %}
    {% set link_attr = { href: _self.current_path({ (page_parameter_name): page_number - 1 }), 'data-turbo-action': 'advance' }|merge(link_attr ?? {}) %}

    <a{{ _self.attributes(link_attr) }}>
        {{- data_table_theme_block('pagination_page_message') -}}
    </a>
{% endblock %}

{% block pagination_page_active %}
    <span>{{- data_table_theme_block('pagination_page_message') -}}</span>
{% endblock %}

{% block pagination_page_message page_number %}

{% block pagination_next %}
    {% set link_attr = { href: _self.current_path({ (page_parameter_name): current_page_number + 1 }), 'data-turbo-action': 'advance' }|merge(link_attr ?? {}) %}

    <a{{ _self.attributes(link_attr) }}>
        {{- data_table_theme_block('pagination_next_message') -}}
    </a>
{% endblock %}

{% block pagination_next_disabled %}
    <span>{{ data_table_theme_block('pagination_next_message') }}</span>
{% endblock %}

{% block pagination_next_message '›' %}

{% block pagination_last %}
    {% set link_attr = { href: _self.current_path({ (page_parameter_name): page_count }), 'data-turbo-action': 'advance' }|merge(link_attr ?? {}) %}

    <a{{ _self.attributes(link_attr) }}>
        {{ data_table_theme_block('pagination_last_message') }}
    </a>
{% endblock %}

{% block pagination_last_disabled %}
    <span>{{ data_table_theme_block('pagination_last_message') }}</span>
{% endblock %}

{% block pagination_last_message '»' %}

{% block column_label -%}
    <span{{ _self.attributes(label_attr ?? {}) }}>
        {%- if translation_domain is not same as false -%}
            {{ label|trans(translation_parameters, translation_domain) }}
        {%- else -%}
            {{ label }}
        {%- endif -%}
    </span>
{%- endblock %}

{% block column_header %}
    {% if data_table.vars.sorting_enabled and sortable %}
        {{ data_table_theme_block('column_header_sortable') }}
    {% else %}
        {{ data_table_theme_block('column_label') }}
    {% endif %}
{% endblock %}

{% block column_header_sortable %}
    <a{{ _self.attributes({ href: data_table_column_sort_url(column), 'data-turbo-action': 'advance' }|merge(link_attr ?? {})) }}>
        {{- data_table_theme_block('column_label') -}}

        {% if sorted %}
            {% if sort_direction == 'asc' %}
                {{ data_table_theme_block('sort_arrow_asc') }}
            {% else %}
                {{ data_table_theme_block('sort_arrow_desc') }}
            {% endif %}
        {% else %}
            {{ data_table_theme_block('sort_arrow_none') }}
        {% endif %}
    </a>
{% endblock %}

{% block column_value %}
    <span{{ _self.attributes(attr) }}>
        {%- if translation_domain is not same as false -%}
            {{- value|trans(translation_parameters, translation_domain) -}}
        {%- else -%}
            {{- value -}}
        {%- endif -%}
    </span>
{% endblock %}

{% block column_text_value %}
    {{- data_table_theme_block('column_value') -}}
{% endblock %}

{% block column_number_value %}
    {# @var bool  use_intl_formatter - Determines whether the Intl formatter should be used #}
    {# @var array intl_formatter_options - Options used to configure the Intl formatter #}

    {% if value is not null and use_intl_formatter %}
        {% set value = value|format_number(intl_formatter_options.attrs, intl_formatter_options.style) %}
    {% endif %}

    {{- data_table_theme_block('column_text_value') -}}
{% endblock %}

{% block column_money_value %}
    {# @var bool    use_intl_formatter - Determines whether the Intl formatter should be used #}
    {# @var array   intl_formatter_options - Options used to configure the Intl formatter #}
    {# @var string  currency #}

    {% if value is not null and use_intl_formatter %}
        {% set value = value|format_currency(currency, intl_formatter_options.attrs) %}
    {% endif %}

    {{- data_table_theme_block('column_text_value') -}}

    {% if value is not null and not use_intl_formatter %}
        {{ currency }}
    {% endif %}
{% endblock %}

{% block column_link_value %}
    <a{{ _self.attributes({ href, target }|merge(attr)) }}>
        {{- data_table_theme_block('column_text_value') -}}
    </a>
{% endblock %}

{% block column_date_time_value %}
    {% set value = value ? value|date(format, timezone) : value %}
    {{- data_table_theme_block('column_text_value') -}}
{% endblock %}

{% block column_date_period_value %}
    {% set value = value ? value.start|date(format, timezone) ~ separator ~ value.end|date(format, timezone) : value %}
    {{- data_table_theme_block('column_text_value') -}}
{% endblock %}

{% block column_boolean_value %}
    {% set value = value ? label_true : label_false %}
    {{- data_table_theme_block('column_text_value') -}}
{% endblock %}

{% block column_collection_value %}
    {# Note: do **not** remove the HTML comments below, because it makes sure the separator is rendered properly. #}
    {% apply spaceless %}
        {% for child in children %}
            {% if not loop.first %}-->{% endif -%}
            {{ data_table_column_value(child) }}<!--
            -->{% if not loop.last %}{{- separator -}}<!--{% endif %}
        {% endfor %}
    {% endapply %}
{% endblock %}

{% block column_template_value %}
    {{- include(template_path, template_vars) -}}
{% endblock %}

{% block column_actions_value %}
    {% for action in actions %}
        {{ data_table_theme_block_old(action) }}
    {% endfor %}
{% endblock %}

{% block column_form_value %}
    {% if form_child_path is not same as false %}
        {% set form = form[row_index][form_child_path].createView() %}
    {% else %}
        {% set form = form[row_index].createView() %}
    {% endif %}

    {% set form_themes = form_themes|default(null) %}

    {% if form_themes is not null %}
        {% form_theme form with form_themes %}
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{% block column_checkbox_header %}
    <th{{ _self.attributes(attr) }}>
        {% set input_attr = {
            'type': 'checkbox',
            'aria-label': 'Select all checkbox',
            'data-identifier-name': identifier_name,
            'data-kreyu--data-table-bundle--batch-target': 'selectAllCheckbox',
            'data-action': 'input->kreyu--data-table-bundle--batch#selectAll',
        }|merge(input_attr ?? {}) %}

        <input{{ _self.attributes(input_attr) }} />
    </th>
{% endblock %}

{% block column_checkbox_value %}
    {% set input_attr = {
        'type': 'checkbox',
        'value': value,
        'aria-label': 'Select all checkbox',
        'data-index': row.index,
        'data-identifier-name': identifier_name,
        'data-kreyu--data-table-bundle--batch-target': 'selectRowCheckbox',
        'data-action': 'input->kreyu--data-table-bundle--batch#selectRow',
    }|merge(input_attr ?? {}) %}

    <input{{ _self.attributes(input_attr) }} />
{% endblock %}

{# Action type templates #}

{% block action_control_icon %}
    <i{{ _self.attributes(icon_attr) }}></i>
{% endblock %}

{% block action_control %}
    {% if icon_attr %}{{ data_table_theme_block('action_control_icon') }}{% endif %}
    {{- label|trans(translation_parameters, translation_domain) -}}
{% endblock %}

{% block action_link_control %}
    {% set attr = { href, target }|merge(attr) %}

    {% if batch %}
        {% set attr = { 'data-kreyu--data-table-bundle--batch-target': 'identifierHolder' }|merge(attr) %}
    {% endif %}

    <a{{ _self.attributes(attr) }}>
        {{- data_table_theme_block('action_control') -}}
    </a>
{% endblock %}

{% block action_button_control %}
    {% set attr = { href, target }|merge(attr) %}

    {% if batch %}
        {% set attr = { 'data-kreyu--data-table-bundle--batch-target': 'identifierHolder' }|merge(attr) %}
    {% endif %}

    <a{{ _self.attributes(attr) }}>
        {{- data_table_theme_block('action_control') -}}
    </a>
{% endblock %}

{% block action_form_control %}
    {% set attr = { action, method: html_friendly_method, id: form_id }|merge(attr) %}

    {% if batch %}
        {% set attr = { 'data-kreyu--data-table-bundle--batch-target': 'identifierHolder' }|merge(attr) %}
    {% endif %}

    {% set button_tag = button_tag|default('button') %}
    {% set button_attr = { type: 'submit' }|merge(button_attr) %}

    <form{{ _self.attributes(attr) }}>
        <input type="hidden" name="_method" value="{{ method }}"/>

        <{{ button_tag }} {{ _self.attributes(button_attr) }}>
            {{- data_table_theme_block('action_control') -}}
        </{{ button_tag }}>
    </form>
{% endblock %}

{% block sort_arrow_none '' %}

{% block sort_arrow_asc '↑' %}

{% block sort_arrow_desc '↓' %}

{% block kreyu_data_table_date_range_widget %}
    {{ form_widget(form.from) }}
    {{ form_widget(form.to) }}
{% endblock %}

{% block attributes -%}
    {% for key, value in attr|default({}) %} {{ key }}="{{ value }}"{% endfor %}
{% endblock %}

{% macro attributes(attributes) %}
    {% for key, value in attributes %} {{ key }}="{{ value }}"{% endfor %}
{% endmacro %}

{% macro current_path(parameters) %}
    {{- path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge(parameters)) -}}
{% endmacro %}