{% trans_default_domain 'KreyuDataTable' %}

{# Base HTML Theme #}

{% block kreyu_data_table %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {{ block('action_bar') }}
        {{ block('table') }}
        {{ block('pagination') }}
    </turbo-frame>
{% endblock %}

{% block kreyu_data_table_form_aware %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {{ block('action_bar') }}

        {{ form_start(form, form_variables) }}
            {{ block('table') }}
        {{ form_end(form, { render_rest: false }) }}

        {{ block('pagination') }}
    </turbo-frame>
{% endblock %}

{% block kreyu_data_table_table %}
    {{ block('table') }}
{% endblock %}

{% block kreyu_data_table_action_bar %}
    {{ block('action_bar') }}
{% endblock %}

{% block action_bar %}{% endblock %}

{% block table %}
    <table {% with { attr: table_attr|default({}) } %}{{- block('attributes') -}}{% endwith %}>
        {{ block('table_head') }}
        {{ block('table_body') }}
    </table>
{% endblock %}

{% block table_head %}
    <thead>{{ block('table_head_row') }}</thead>
{% endblock %}

{% block table_head_row %}
    {{ data_table_header_row(header_row) }}
{% endblock %}

{% block table_body %}
    <tbody>{{ block('table_body_row') }}</tbody>
{% endblock %}

{% block table_body_row %}
    {% if value_rows|length > 0 %}
        {{ block('table_body_row_results') }}
    {% else %}
        {{ block('table_body_row_no_results') }}
    {% endif %}
{% endblock %}

{% block table_body_row_results %}
    {% for value_row in value_rows %}
        <tr {% with { attr: value_row.vars.attr } %}{{ block('attributes') }}{% endwith %}>{{ data_table_value_row(value_row) }}</tr>
    {% endfor %}
{% endblock %}

{% block table_body_row_no_results %}
    <tr>
        <td colspan="{{ column_count }}" {% with { attr: table_body_row_no_results_attr|default({}) } %}{{- block('attributes') -}}{% endwith %}>{{ 'No results'|trans({}, 'KreyuDataTable') }}</td>
    </tr>
{% endblock %}

{% block pagination %}
    {{ data_table_pagination(pagination) }}
{% endblock %}

{% block kreyu_data_table_header_row %}
    <tr {% with { attr: row.vars.attr } %}{{ block('attributes') }}{% endwith %}>
        {% for column_header in row %}
            {{- data_table_column_header(column_header) -}}
        {% endfor %}
    </tr>
{% endblock %}

{% block kreyu_data_table_value_row %}
    {% for column_value in row %}
        <td>
            {{- data_table_column_value(column_value) -}}
        </td>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_column_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_header %}
    {{ block(block_name, theme) }}
{% endblock %}

{% block kreyu_data_table_column_value %}
    {{ block(block_name, theme) }}
{% endblock %}

{% block kreyu_data_table_action %}
    {{- block(block_name, theme) -}}
{% endblock %}

{% block kreyu_data_table_pagination %}
    {% set current_page = app.request.query.get(page_parameter_name) %}

    {% if page_count > 1 %}
        <ul {{- block('attributes') -}}>
            <li>
                <a href="{{ has_previous_page ? path(
                    app.request.get('_route'),
                    app.request.query.all|merge({ (page_parameter_name): current_page_number - 1 })
                ) : '#' }}">
                    ‹
                </a>
            </li>

            {% for page_number in 1..page_count %}
                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({ (page_parameter_name): page_number })) }}">
                        {% if current_page_number == page_number %}
                            <u>{{ page_number }}</u>
                        {% else %}
                            {{ page_number }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}

            <li>
                <a href="{{ has_next_page ? path(
                    app.request.get('_route'),
                    app.request.query.all|merge({ (page_parameter_name): current_page_number + 1 })
                ) : '#' }}">
                    ›
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_filters_form %}
    {% if form.count > 0 %}
        {{ form_start(form) }}
            <table>
                <tbody>
                    {% for child in form %}
                        <tr>
                            <td>{{ form_row(child) }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="2">
                            <button>{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_date_range_row %}
    {{ form_widget(form.from) }}
    {{ form_widget(form.to) }}
{% endblock %}

{# Column type header templates #}

{% block column_header %}
    {% set label_attr = label_attr|default({}) %}

    {% if data_table.vars.sorting_enabled and sort_field %}
        {% set current_sort_field = sorting_field_data.name|default(null) %}
        {% set current_sort_direction = sorting_field_data.direction|default(null) %}

        {% set is_active_sorting = sort_field == current_sort_field %}

        {% if is_active_sorting %}
            {% set attr = attr|merge(active_attr|default({})) %}
        {% else %}
            {% set attr = attr|merge(inactive_attr|default({})) %}
        {% endif %}

        <th {{ block('attributes') }}>
            {% set label_attr = {
                href: path(app.request.get('_route'), app.request.query.all|merge({
                    (sort_parameter_name ~ '[field]'): sort_field,
                    (sort_parameter_name ~ '[direction]'): current_sort_direction|lower == 'desc' ? 'asc' : 'desc'
                }))
            }|merge(label_attr) %}

            <a {% with { attr: label_attr } %}{{- block('attributes') -}}{% endwith %}>
                {{- block('column_header_label', theme, _context) -}}

                {% if is_active_sorting %}
                    {% if current_sort_direction == 'asc' %}
                        {{ block('sort_arrow_asc', theme, _context) }}
                    {% else %}
                        {{ block('sort_arrow_desc', theme, _context) }}
                    {% endif %}
                {% else %}
                    {{ block('sort_arrow_none', theme, _context) }}
                {% endif %}
            </a>
        </th>
    {% else %}
        <th {{ block('attributes') }}>
            <span {% with { attr: label_attr } %}{{- block('attributes') -}}{% endwith %}>
                {{- block('column_header_label', theme, _context) -}}
            </span>
        </th>
    {% endif %}
{% endblock %}

{% block column_header_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{# Column type value templates #}

{% block column_value %}
    <span {{- block('attributes') -}}>
        {%- if translation_domain is not same as false -%}
            {{- value|trans({}, translation_domain) -}}
        {%- else -%}
            {{- value -}}
        {%- endif -%}
    </span>
{% endblock %}

{% block column_text_value %}
    {{- block('column_value') -}}
{% endblock %}

{% block column_number_value %}
    {{- block('column_text_value') -}}
{% endblock %}

{% block column_link_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {{- block('column_text_value') -}}
    </a>
{% endblock %}

{% block column_date_time_value %}
    {% with { value: value ? value|date(format, timezone) : value } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_date_period_value %}
    {% with { value: value ? value.start|date(format, timezone) ~ separator ~ value.end|date(format, timezone) : value } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_boolean_value %}
    {% with { value: value ? label_true : label_false } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_collection_value %}
    {% for child in children %}
        {{- data_table_column_value(child) -}}
        <span>{% if not loop.last %}{{- separator -}}{% endif %}</span>
    {% endfor %}
{% endblock %}

{% block column_template_value %}
    {{- include(template_path, template_vars) -}}
{% endblock %}

{% block column_actions_value %}
    {% for action in actions %}
        {{ data_table_action(action) }}
    {% endfor %}
{% endblock %}

{% block column_form_value %}
    {% if form_child_path is not same as false %}
        {% set form = form[row_index][form_child_path].createView() %}
    {% else %}
        {% set form = form[row_index].createView() %}
    {% endif %}

    {% set form_themes = form_themes|default(null) %}

    {% if form_themes is not null %}
        {% form_theme form with form_themes %}
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{# Action type templates #}

{% block action_value_icon %}{% endblock %}

{% block action_value %}
    {% if icon_attr %}{{ block('action_value_icon', theme, _context) }}{% endif %}
    {{- label|trans(translation_parameters, translation_domain) -}}
{% endblock %}

{% block action_link_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {% with { attr: {} } %}{{- block('action_value', theme, _context) -}}{% endwith %}
    </a>
{% endblock %}

{% block action_button_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {% with { attr: {} } %}{{- block('action_value', theme, _context) -}}{% endwith %}
    </a>
{% endblock %}

{% block action_form_value %}
    <form id="{{ form_id }}" {% with { attr: { action, method: html_friendly_method }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        <input type="hidden" name="_method" value="{{ method }}"/>

        {% set button_tag = button_tag|default('button') %}

        <{{ button_tag }} {% with { attr: { type: 'submit' }|merge(button_attr) } %}{{- block('attributes') -}}{% endwith %}>
            {{- block('action_value', theme, _context) -}}
        </{{ button_tag }}>
    </form>
{% endblock %}

{% block sort_arrow_none %}{% endblock %}

{% block sort_arrow_asc %}↑{% endblock %}

{% block sort_arrow_desc %}↓{% endblock %}

{% block attributes %}
    {% for key, value in attr|default([]) %}{{ key }}="{{ value }}"{% endfor %}
{% endblock %}
