{% trans_default_domain 'KreyuDataTable' %}

{# Base HTML Theme #}

{% block kreyu_data_table %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {{ block('stylesheets') }}
        {{ block('action_bar') }}
        {{ block('table') }}
        {{ block('pagination') }}
    </turbo-frame>
{% endblock %}

{% block stylesheets %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            margin: 5px 0;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        ul > li {
            display: inline;
        }

        a {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block action_bar %}{% endblock %}

{% block table %}
    <table {% with { attr: table_attr|default({}) } %}{{ block('attributes') }}{% endwith %}>
        {% block table_head %}
            <thead>
                {% block table_head_row %}
                    <tr>
                        {{ data_table_headers_row(headers_row) }}
                    </tr>
                {% endblock %}
            </thead>
        {% endblock %}

        {% block table_body %}
            <tbody>
                {% block table_body_row %}
                    {% if values_rows|length > 0 %}
                        {% block table_body_row_value %}
                            {% for values_row in values_rows %}
                                <tr>{{ data_table_values_row(values_row) }}</tr>
                            {% endfor %}
                        {% endblock %}
                    {% else %}
                        {% block table_body_row_no_results %}
                            <tr>
                                <td {% with { attr: table_body_row_no_results_attr|default({}) } %}{{ block('attributes') }}{% endwith %} colspan="{{ columns|length }}">
                                    {{ 'No results'|trans({}, 'KreyuDataTable') }}
                                </td>
                            </tr>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}

{% block pagination %}
    {{ data_table_pagination(pagination) }}
{% endblock %}

{% block kreyu_data_table_headers_row %}
    {% for column in columns %}
        <td {{ block('attributes') }}>{{ data_table_column_header(column) }}</td>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_values_row %}
    {% for column in columns %}
        <td {{ block('attributes') }}>{{- data_table_column_value(column) -}}</td>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_column_header %}
    {% if data_table.vars.sorting_enabled and sort_field %}
        {% set query_parameters = app.request.query.all() %}

        {% set sort_parameter_name = data_table.vars.sort_parameter_name %}

        {% set current_sort_field = query_parameters[sort_parameter_name]['field']|default(null) %}
        {% set current_sort_direction = query_parameters[sort_parameter_name]['direction']|default(null) %}

        {% set opposite_sort_direction = current_sort_direction == 'desc' ? 'asc' : 'desc' %}

        <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({
            (sort_parameter_name ~ '[field]'): sort_field,
            (sort_parameter_name ~ '[direction]'): opposite_sort_direction
        })) }}">
            {{ block('kreyu_data_table_column_label', _self, _context) }}

            {% if sort_field == current_sort_field %}
                {% if current_sort_direction == 'asc' %}
                    ↑
                {% else %}
                    ↓
                {% endif %}
            {% endif %}
        </a>
    {% else %}
        {{ block('kreyu_data_table_column_label', _self, _context) }}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_value %}
    {% if block(block_name, _self) is defined %}
        {{- block(block_name, _self) -}}
    {% else %}
        {{- value -}}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(label_translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_pagination %}
    {% set current_page = app.request.query.get(page_parameter_name) %}

    {% if page_count > 1 %}
        <ul>
            <li>
                <a href="{{ has_previous_page ? path(
                    app.request.get('_route'),
                    app.request.query.all|merge({ (page_parameter_name): current_page_number - 1 })
                ) : '#' }}">
                    ‹
                </a>
            </li>

            {% for page_number in 1..page_count %}
                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({ (page_parameter_name): page_number })) }}">
                        {% if current_page_number == page_number %}
                            <u>{{ page_number }}</u>
                        {% else %}
                            {{ page_number }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}

            <li>
                <a href="{{ has_next_page ? path(
                    app.request.get('_route'),
                    app.request.query.all|merge({ (page_parameter_name): current_page_number + 1 })
                ) : '#' }}">
                    ›
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_filters_form %}
    {% if form.count > 0 %}
        {{ form_start(form) }}
            <table>
                <tbody>
                    {% for child in form.children %}
                        <tr>
                            <td>
                                {{ form_row(child) }}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="2">
                            <button>{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_text %}
    <span {{ block('attributes') }}>{{- value -}}</span>
{% endblock %}

{% block kreyu_data_table_column_number %}
    {{- block('kreyu_data_table_column_text') -}}
{% endblock %}

{% block kreyu_data_table_column_boolean %}
    <span {{ block('attributes') }}>{{- (value ? label_true : label_false)|trans({}, translation_domain) -}}</span>
{% endblock %}

{% block kreyu_data_table_column_link %}
    {% set attr = { href, target }|merge(attr|default({})) %}

    <a {{ block('attributes') }}>
        {{- block('kreyu_data_table_column_text') -}}
        {% if display_icon %}{{ icon|default('⤷') }}{% endif %}
    </a>
{% endblock %}

{% block kreyu_data_table_column_collection %}
    {% for child in children %}
        {{- data_table_column_value(child) -}}
        <span>{% if not loop.last %}{{ separator }}{% endif %}</span>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_column_template %}
    {{- include(template_path, template_vars) -}}
{% endblock %}

{% block kreyu_data_table_column_actions %}
    {% for action in actions %}
        {{- include(action.template_path, action.template_vars) -}}
    {% endfor %}
{% endblock %}

{% block attributes %}
    {% for key, value in attr|default([]) %}{{ key }}="{{ value }}"{% endfor %}
{% endblock %}
