{% trans_default_domain 'KreyuDataTable' %}

{# Base HTML Theme #}

{% block kreyu_data_table %}
    <turbo-frame id="kreyu_data_table_{{ name }}"
        {% if has_batch_actions %}
            data-controller="kreyu--data-table-bundle--batch"
        {% endif %}
    >
        {{ block('action_bar') }}
        {{ block('table') }}

        {% if pagination_enabled %}
            {{ data_table_pagination(pagination) }}
        {% endif %}
    </turbo-frame>
{% endblock %}

{% block kreyu_data_table_form_aware %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {{ block('action_bar') }}

        {{ form_start(form, form_variables) }}
            {{ block('table') }}
        {{ form_end(form, { render_rest: false }) }}

        {% if pagination_enabled %}
            {{ data_table_pagination(pagination) }}
        {% endif %}
    </turbo-frame>
{% endblock %}

{% block kreyu_data_table_table %}
    {{ block('table') }}
{% endblock %}

{% block kreyu_data_table_action_bar %}
    {{ block('action_bar') }}
{% endblock %}

{% block action_bar %}{% endblock %}

{% block table %}
    <table {% with { attr: table_attr|default({}) } %}{{- block('attributes') -}}{% endwith %}>
        {{ block('table_head') }}
        {{ block('table_body') }}
    </table>
{% endblock %}

{% block table_head %}
    <thead>{{ block('table_head_row') }}</thead>
{% endblock %}

{% block table_head_row %}
    {{ data_table_header_row(header_row) }}
{% endblock %}

{% block table_body %}
    <tbody>{{ block('table_body_row') }}</tbody>
{% endblock %}

{% block table_body_row %}
    {% if value_rows|length > 0 %}
        {{ block('table_body_row_results') }}
    {% else %}
        {{ block('table_body_row_no_results') }}
    {% endif %}
{% endblock %}

{% block table_body_row_results %}
    {% for value_row in value_rows %}
        <tr {% with { attr: value_row.vars.attr } %}{{ block('attributes') }}{% endwith %}>{{ data_table_value_row(value_row) }}</tr>
    {% endfor %}
{% endblock %}

{% block table_body_row_no_results %}
    <tr>
        <td colspan="{{ column_count }}" {% with { attr: table_body_row_no_results_attr|default({}) } %}{{- block('attributes') -}}{% endwith %}>{{ 'No results'|trans({}, 'KreyuDataTable') }}</td>
    </tr>
{% endblock %}

{% block pagination %}
    {{ data_table_pagination(pagination) }}
{% endblock %}

{% block kreyu_data_table_header_row %}
    <tr {% with { attr: row.vars.attr } %}{{ block('attributes') }}{% endwith %}>
        {% for column_header in row %}
            {{- data_table_column_header(column_header) -}}
        {% endfor %}
    </tr>
{% endblock %}

{% block kreyu_data_table_value_row %}
    {% for column_value in row %}
        <td>
            {{- data_table_column_value(column_value) -}}
        </td>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_column_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_header %}
    {{ block(block_name, theme) }}
{% endblock %}

{% block kreyu_data_table_column_value %}
    {{ block(block_name, theme) }}
{% endblock %}

{% block kreyu_data_table_action %}
    {{- block(block_name, theme) -}}
{% endblock %}

{# Pagination #}

{% block kreyu_data_table_pagination %}
    {% if page_count > 1 %}
        {{ block('pagination_widget', theme) }}
    {% endif %}
{% endblock %}

{% block pagination_widget %}
    {{ block('pagination_counters', theme) }}
    {{ block('pagination_controls', theme) }}
{% endblock %}

{% block pagination_controls %}
    {%- if has_previous_page -%}
        {% with { path: path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ (page_parameter_name): 1 })) } %}
            {{ block('pagination_first', theme) }}
        {% endwith %}

        {% with { path: path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ (page_parameter_name): current_page_number - 1 })) } %}
            {{ block('pagination_previous', theme) }}
        {% endwith %}
    {%- else -%}
        {{ block('pagination_first_disabled', theme) }}
        {{ block('pagination_previous_disabled', theme) }}
    {%- endif -%}

    {% for page_number in range(first_visible_page_number, last_visible_page_number) %}
        {% if page_number == current_page_number %}
            {{ block('pagination_page_active', theme) }}
        {% else %}
            {% with { path: path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ (page_parameter_name): page_number })) } %}
                {{ block('pagination_page', theme) }}
            {% endwith %}
        {% endif %}
    {% endfor %}

    {%- if has_next_page -%}
        {% with { path: path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ (page_parameter_name): current_page_number + 1 })) } %}
            {{ block('pagination_next', theme) }}
        {% endwith %}

        {% with { path: path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({ (page_parameter_name): page_count })) } %}
            {{ block('pagination_last', theme) }}
        {% endwith %}
    {%- else -%}
        {{ block('pagination_next_disabled', theme) }}
        {{ block('pagination_last_disabled', theme) }}
    {%- endif -%}
{% endblock %}

{% block pagination_counters %}
    <span {{- block('attributes') -}}>
        {{- block('pagination_counters_message', theme) -}}
    </span>
{% endblock %}

{% block pagination_counters_message %}
    {{- 'Showing %current_page_first_item_index% - %current_page_last_item_index% of %total_item_count%'|trans({
        '%current_page_first_item_index%': current_page_first_item_index,
        '%current_page_last_item_index%': current_page_last_item_index,
        '%total_item_count%': total_item_count
    }, 'KreyuDataTable') -}}
{% endblock %}

{% block pagination_page %}
    <a {% with { attr: attr|default({})|merge({ href: path, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_page_message', theme) }}
    </a>
{% endblock %}

{% block pagination_page_active %}
    <span {% with { attr: attr|default({})|merge({ 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_page_message', theme) }}
    </span>
{% endblock %}

{% block pagination_page_message page_number %}

{% block pagination_first %}
    <a {% with { attr: attr|default({})|merge({ href: path, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_first_message', theme) }}
    </a>
{% endblock %}

{% block pagination_first_disabled %}
    <span {% with { attr: attr|default({})|merge({ 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_first_message', theme) }}
    </span>
{% endblock %}

{% block pagination_first_message '«' %}

{% block pagination_previous %}
    <a {% with { attr: attr|default({})|merge({ href: path, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_previous_message', theme) }}
    </a>
{% endblock %}

{% block pagination_previous_disabled %}
    <span {{ block('attributes') }}>{{ block('pagination_previous_message', theme) }}</span>
{% endblock %}

{% block pagination_previous_message '‹' %}

{% block pagination_last %}
    <a {% with { attr: attr|default({})|merge({ href: path, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_last_message', theme) }}
    </a>
{% endblock %}

{% block pagination_last_disabled %}
    <span {{ block('attributes') }}>{{ block('pagination_last_message', theme) }}</span>
{% endblock %}

{% block pagination_last_message '»' %}

{% block pagination_next %}
    <a {% with { attr: attr|default({})|merge({ href: path, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ block('pagination_next_message', theme) }}
    </a>
{% endblock %}

{% block pagination_next_disabled %}
    <span {{ block('attributes') }}>{{ block('pagination_next_message', theme) }}</span>
{% endblock %}

{% block pagination_next_message '›' %}

{# Filtration #}

{% block kreyu_data_table_filters_form %}
    {% form_theme form with form_themes|default([_self]) %}

    {{ form_start(form, { attr: { 'data-turbo-action': 'advance', 'hidden': 'hidden' } }) }}
        {# This form should be empty - all its inputs should be on the outside, referenced using the "form" attribute #}
    {{ form_end(form, { render_rest: false }) }}

    {% if form.count > 0 %}
        {{ block('filtration_widget', theme) }}
    {% endif %}
{% endblock %}

{% block filtration_widget %}
    <div {{ block('attributes') }}>{{ block('filtration_form', theme) }}</div>
{% endblock %}

{% block filtration_form %}
    {{ block('filtration_form_content', theme) }}
{% endblock %}

{% block filtration_form_content %}
    <div {{ block('attributes') }}>
        {% for child in form %}
            {{ block('filtration_form_row', theme) }}
        {% endfor %}

        {{ block('filtration_form_submit', theme) }}
    </div>
{% endblock %}

{% block filtration_form_row %}
    <div {{ block('attributes') }}>{{ form_row(child) }}</div>
{% endblock %}

{% block filtration_form_submit %}
    <button {% with { attr: attr|default({})|merge({ form: form.vars.id, 'data-turbo-action': 'advance' }) } %}{{ block('attributes') }}{% endwith %}>
        {{ 'Filter'|trans({}, 'KreyuDataTable') }}
    </button>
{% endblock %}

{% block kreyu_data_table_date_range_row %}
    {{ form_widget(form.from) }}
    {{ form_widget(form.to) }}
{% endblock %}

{# Column type header templates #}

{% block column_header %}
    {% set label_attr = label_attr|default({}) %}

    {% if data_table.vars.sorting_enabled and sort_field %}
        {% set current_sort_field = sorting_field_data.name|default(null) %}
        {% set current_sort_direction = sorting_field_data.direction|default(null) %}

        {% set active_attr = active_attr|default({}) %}
        {% set inactive_attr = inactive_attr|default({}) %}

        {% set attr = attr|default({}) %}
        {% set attr = attr|merge(sorted ? active_attr : inactive_attr) %}

        <th {{ block('attributes') }}>
            {% set query_params = app.request.query.all %}
            {% set query_params = query_params|merge({ (sort_parameter_name): {
                (name): sort_direction|lower == 'desc' ? 'asc' : 'desc'
            } }) %}

            {% set query_params = app.request.attributes.get('_route_params')|merge(query_params) %}

            {% set label_attr = { href: path(app.request.get('_route'), query_params) }|merge(label_attr) %}

            <a {% with { attr: label_attr } %}{{- block('attributes') -}}{% endwith %}>
                {{- block('column_header_label', theme, _context) -}}

                {% if sorted %}
                    {% if sort_direction == 'asc' %}
                        {{ block('sort_arrow_asc', theme, _context) }}
                    {% else %}
                        {{ block('sort_arrow_desc', theme, _context) }}
                    {% endif %}
                {% else %}
                    {{ block('sort_arrow_none', theme, _context) }}
                {% endif %}
            </a>
        </th>
    {% else %}
        <th {{ block('attributes') }}>
            <span {% with { attr: label_attr } %}{{- block('attributes') -}}{% endwith %}>
                {{- block('column_header_label', theme, _context) -}}
            </span>
        </th>
    {% endif %}
{% endblock %}

{% block column_header_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{# Column type value templates #}

{% block column_value %}
    <span {{- block('attributes') -}}>
        {%- if translation_domain is not same as false -%}
            {{- value|trans({}, translation_domain) -}}
        {%- else -%}
            {{- value -}}
        {%- endif -%}
    </span>
{% endblock %}

{% block column_text_value %}
    {{- block('column_value') -}}
{% endblock %}

{% block column_number_value %}
    {{- block('column_text_value') -}}
{% endblock %}

{% block column_link_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {{- block('column_text_value') -}}
    </a>
{% endblock %}

{% block column_date_time_value %}
    {% with { value: value ? value|date(format, timezone) : value } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_date_period_value %}
    {% with { value: value ? value.start|date(format, timezone) ~ separator ~ value.end|date(format, timezone) : value } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_boolean_value %}
    {% with { value: value ? label_true : label_false } %}
        {{- block('column_text_value') -}}
    {% endwith %}
{% endblock %}

{% block column_collection_value %}
    {% for child in children %}
        {{- data_table_column_value(child) -}}
        <span>{% if not loop.last %}{{- separator -}}{% endif %}</span>
    {% endfor %}
{% endblock %}

{% block column_template_value %}
    {{- include(template_path, template_vars) -}}
{% endblock %}

{% block column_actions_value %}
    {% for action in actions %}
        {{ data_table_action(action) }}
    {% endfor %}
{% endblock %}

{% block column_form_value %}
    {% if form_child_path is not same as false %}
        {% set form = form[row_index][form_child_path].createView() %}
    {% else %}
        {% set form = form[row_index].createView() %}
    {% endif %}

    {% set form_themes = form_themes|default(null) %}

    {% if form_themes is not null %}
        {% form_theme form with form_themes %}
    {% endif %}

    {{ form_widget(form) }}
{% endblock %}

{# Action type templates #}

{% block action_value_icon %}{% endblock %}

{% block action_value %}
    {% if icon_attr %}{{ block('action_value_icon', theme, _context) }}{% endif %}
    {{- label|trans(translation_parameters, translation_domain) -}}
{% endblock %}

{% block action_link_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {% with { attr: {} } %}{{- block('action_value', theme, _context) -}}{% endwith %}
    </a>
{% endblock %}

{% block action_button_value %}
    <a {% with { attr: { href, target }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        {% with { attr: {} } %}{{- block('action_value', theme, _context) -}}{% endwith %}
    </a>
{% endblock %}

{% block action_form_value %}
    <form id="{{ form_id }}" {% with { attr: { action, method: html_friendly_method }|merge(attr) } %}{{- block('attributes') -}}{% endwith %}>
        <input type="hidden" name="_method" value="{{ method }}"/>

        {% set button_tag = button_tag|default('button') %}

        <{{ button_tag }} {% with { attr: { type: 'submit' }|merge(button_attr) } %}{{- block('attributes') -}}{% endwith %}>
            {{- block('action_value', theme, _context) -}}
        </{{ button_tag }}>
    </form>
{% endblock %}

{% block sort_arrow_none %}{% endblock %}

{% block sort_arrow_asc %}↑{% endblock %}

{% block sort_arrow_desc %}↓{% endblock %}

{% block attributes %}
    {% for key, value in attr|default({}) %}{{ key }}="{{ value }}"{% endfor %}
{% endblock %}
