{% trans_default_domain 'KreyuDataTable' %}

{% block kreyu_data_table %}
    <turbo-frame id="kreyu_data_table_{{ name }}">
        {% block action_bar %}
            <div class="mb-2">
                {% block action_bar_left %}
                    <div class="d-inline-block my-2">
                        {% if has_active_filters %}
                            {% block filter_clear_all_button %}
                                {% from '@KreyuDataTable/macros.html.twig' import filter_clear_all_url %}

                                <a class="btn btn-sm btn-outline-danger"
                                    href="{{ filter_clear_all_url(filtration_parameter_name, filters) }}"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{ 'Clear all filters'|trans({}, 'KreyuDataTable') }}"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            {% endblock %}
                        {% endif %}

                        {% for filter in filters %}
                            {% set field = filtration_form.children[filter.name] %}

                            {% if field.vars.data and field.vars.data.value != null %}
                                {% block filter_clear_button %}
                                    {% from '@KreyuDataTable/macros.html.twig' import filter_clear_url %}

                                    <a class="btn btn-sm btn-outline-dark my-1"
                                        href="{{ filter_clear_url(filtration_parameter_name, filter) }}"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="{{ 'Clear filter'|trans({}, 'KreyuDataTable') }}"
                                    >
                                        <small>
                                            {{ field.vars.label }}

                                            {% if filter.options.operator_options.visible %}
                                                ({{ field.vars.data.operator.name|trans({}, 'KreyuDataTable') }})
                                            {% endif %}
                                        </small>

                                        {{ field.vars.data.value }}

                                        <span class="mx-1" aria-hidden="true">&times;</span>
                                    </a>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block action_bar_right %}
                    <div class="d-inline-block float-end my-2">
                        {% if filtration_enabled %}
                            {% block action_filter %}
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ filtration_form.vars.id ~ '__collapse' }}" aria-expanded="false" aria-controls="{{ filtration_form.vars.id ~ '__collapse' }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                                    </svg>
                                </button>
                            {% endblock %}
                        {% endif %}

                        {% if exporting_enabled %}
                            {% block action_export %}
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ export_form.vars.name }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                                    </svg>
                                </button>
                            {% endblock %}
                        {% endif %}

                        {% if personalization_enabled %}
                            {% block action_personalize %}
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ personalization_form.vars.name }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                                    </svg>
                                </button>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block filters %}
            {% if filtration_enabled %}
                {{ data_table_filters_form(filtration_form) }}
            {% endif %}
        {% endblock %}

        {% block table %}
            <table class="table table-vcenter">
                {% block table_head %}
                    <thead>
                        <tr>
                            {{ data_table_headers_row(headers_row) }}
                        </tr>
                    </thead>
                {% endblock %}
                {% block table_body %}
                    <tbody>
                        <tr>
                            {% if values_rows|length > 0 %}
                                {% for values_row in values_rows %}
                                    {{ data_table_values_row(values_row) }}
                                {% endfor %}
                            {% else %}
                                <td class="align-middle text-muted py-4 text-center" colspan="{{ columns|length }}">
                                    {{ 'No results'|trans({}, 'KreyuDataTable') }}
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endblock %}
            </table>
        {% endblock %}

        {% block pagination %}
            {{ data_table_pagination(pagination) }}
        {% endblock %}

        {% block personalization_modal %}
            <div class="modal modal-blur fade" id="{{ personalization_form.vars.name }}" tabindex="-1" style="display: none;" aria-hidden="true">
                {% block personalization_modal_dialog %}
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        {% block personalization_modal_content %}
                            <div class="modal-content">
                                {% block personalization_modal_header %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            {% block personalization_modal_title %}
                                                {{ 'Personalization'|trans({}, 'KreyuDataTable') }}
                                            {% endblock %}
                                        </h5>
                                        {% block personalization_modal_header_close_button %}
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                                {% block personalization_modal_body %}
                                    <div class="modal-body">
                                        {{ data_table_personalization_form(personalization_form) }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block export_modal %}
            <div class="modal modal-blur fade" id="{{ export_form.vars.name }}" tabindex="-1" style="display: none;" aria-hidden="true" data-turbo="false">
                {% block export_modal_dialog %}
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        {% block export_modal_content %}
                            <div class="modal-content">
                                {% block export_modal_header %}
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            {% block export_modal_title %}
                                                {{ 'Export'|trans({}, 'KreyuDataTable') }}
                                            {% endblock %}
                                        </h5>
                                        {% block export_modal_header_close_button %}
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                                {% block export_modal_body %}
                                    <div class="modal-body">
                                        {{ data_table_export_form(export_form) }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </turbo-frame>
{% endblock %}

{% block kreyu_data_table_headers_row %}
    <tr>
        {% for column in columns %}
            <td class="align-middle">{{ data_table_column_header(column) }}</td>
        {% endfor %}
    </tr>
{% endblock %}

{% block kreyu_data_table_values_row %}
    <tr>
        {% for column in columns %}
            <td class="align-middle text-break">{{ data_table_column_value(column) }}</td>
        {% endfor %}
    </tr>
{% endblock %}

{% block kreyu_data_table_column_header %}
    {% if data_table.vars.sorting_enabled and sort_field %}
        {% set query_parameters = app.request.query.all() %}

        {% set sort_parameter_name = data_table.vars.sort_parameter_name %}

        {% set current_sort_field = query_parameters[sort_parameter_name]['field']|default(null) %}
        {% set current_sort_direction = query_parameters[sort_parameter_name]['direction']|default(null) %}

        {% set opposite_sort_direction = current_sort_direction == 'desc' ? 'asc' : 'desc' %}

        <a class="text-decoration-none" href="{{ path(app.request.get('_route'), app.request.query.all|merge({
            (sort_parameter_name ~ '[field]'): sort_field,
            (sort_parameter_name ~ '[direction]'): opposite_sort_direction
        })) }}">
            {{ block('kreyu_data_table_column_label', _self, _context) }}

            {% if sort_field == current_sort_field %}
                {% if current_sort_direction == 'asc' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                {% endif %}
            {% endif %}
        </a>
    {% else %}
        {{ block('kreyu_data_table_column_label', _self, _context) }}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_value %}
    {% if block(block_name, _self) is defined %}
        {{- block(block_name, _self) -}}
    {% else %}
        {{- value -}}
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_label %}
    {% if translation_domain is not same as false %}
        <span>{{- label|trans(label_translation_parameters, translation_domain) -}}</span>
    {% else %}
        <span>{{- label -}}</span>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_pagination %}
    {% if page_count > 1 %}
        {% set current_page = app.request.query.get(page_parameter_name) %}

        <div>
            <ul class="pagination m-0 ms-auto">
                <li class="page-item {% if not has_previous_page %}disabled{% endif %}">
                    <a class="page-link"
                       href="{{ has_previous_page ? path(
                           app.request.get('_route'),
                           app.request.query.all|merge({ (page_parameter_name): current_page_number - 1 })
                       ) : '#' }}">
                        ‹
                    </a>
                </li>

                {% for page_number in 1..page_count %}
                    <li class="page-item {% if current_page_number == page_number %}active{% endif %}">
                        <a class="page-link"
                           href="{{ path(app.request.get('_route'), app.request.query.all|merge({ (page_parameter_name): page_number })) }}">
                            {{ page_number }}
                        </a>
                    </li>
                {% endfor %}

                <li class="page-item {% if not has_next_page %}disabled{% endif %}">
                    <a class="page-link"
                       href="{{ has_next_page ? path(
                           app.request.get('_route'),
                           app.request.query.all|merge({ (page_parameter_name): current_page_number + 1 })
                       ) : '#' }}">
                        ›
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_filters_form %}
    {% if form.count > 0 %}
        <div class="collapse" id="{{ form.vars.id ~ '__collapse' }}">
            <div class="mb-4">
                {{ form_start(form) }}
                    <div class="row">
                        {% for child in form.children %}
                            <div class="col-12 col-md-6 col-lg-3">
                                {{ form_row(child) }}
                            </div>
                        {% endfor %}
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="col-form-label">&nbsp;</div>
                            <button class="btn btn-primary">{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_export_form %}
    <div>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_row(form.exporter) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.strategy) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.includePersonalization) }}
            </div>
            <div class="text-end">
                <button class="btn btn-primary">{{ 'Apply'|trans({}, 'KreyuDataTable') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block kreyu_data_table_personalization_form %}
    <div data-controller="kreyu--data-table-bundle--personalization">
        {{ form_start(form) }}
            {% if form._token is defined %}
                {{ form_row(form._token) }}
            {% endif %}

            {% block personalization_form_help %}
                <div class="alert d-flex align-items-center">
                    <div class="p-2">
                        <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Info:">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                    </div>

                    <span>{{ 'Drag items between columns to show/hide relevant data in the list or change their order'|trans({}, 'KreyuDataTable') }}.</span>
                </div>
            {% endblock %}

            {% block personalization_form_content %}
                <div class="row my-3">
                    {% set children = form.children.columns %}

                    {% block personalization_form_visible_columns %}
                        <div class="col-6">
                            <div class="list-group list-group-flush card">
                                <div class="card-header">
                                    {{ 'Visible columns'|trans({}, 'KreyuDataTable') }}
                                </div>

                                <ul
                                    class="p-2 mb-0"
                                    role="button"
                                    data-visible="1"
                                    data-kreyu--data-table-bundle--personalization-target="visibleColumns"
                                >
                                    {% for child in children|filter(child => child.vars.value.visible) %}
                                        {{ form_row(child) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endblock %}

                    {% block personalization_form_hidden_columns %}
                        <div class="col-6">
                            <div class="list-group list-group-flush card">
                                <div class="card-header">
                                    {{ 'Hidden columns'|trans({}, 'KreyuDataTable') }}
                                </div>

                                <ul
                                    class="p-2 mb-0"
                                    role="button"
                                    data-visible="0"
                                    data-kreyu--data-table-bundle--personalization-target="hiddenColumns"
                                >
                                    {% for child in children|filter(child => not child.vars.value.visible) %}
                                        {{ form_row(child) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endblock %}
                </div>

                {% block personalization_form_submit %}
                    <div class="text-end">
                        <button class="btn btn-primary">{{ 'Apply'|trans({}, 'KreyuDataTable') }}</button>
                    </div>
                {% endblock %}
            {% endblock %}
        {{ form_end(form, { render_rest: false }) }}
    </div>
{% endblock %}

{% block kreyu_data_table_column_text %}
    <span>{{- value -}}</span>
{% endblock %}

{% block kreyu_data_table_column_number %}
    <div class="text-end">
        <span>{{- value -}}</span>
    </div>
{% endblock %}

{% block kreyu_data_table_column_boolean %}
    {% if value %}
        <span class="badge bg-green">{{ label_true|trans({}, translation_domain) }}</span>
    {% else %}
        <span class="badge bg-red">{{ label_false|trans({}, translation_domain) }}</span>
    {% endif %}
{% endblock %}

{% block kreyu_data_table_column_link %}
    <a href="{{- href -}}" target="{{- target -}}" class="text-decoration-none">
        <span>{{- value -}}</span>
        {% if display_icon %}
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
            </svg>
        {% endif %}
    </a>
{% endblock %}

{% block kreyu_data_table_column_collection %}
    {% for child in children %}
        {{- data_table_column_value(child) -}}
        <span>{% if not loop.last %}{{ separator }}{% endif %}</span>
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_column_template %}
    {{ include(template_path, template_vars) }}
{% endblock %}

{% block kreyu_data_table_column_actions %}
    {% for action in actions %}
        {{ include(action.template_path, action.template_vars) }}
    {% endfor %}
{% endblock %}

{% block kreyu_data_table_filter_data_row %}
    <div class="row">
        {{ form_label(form) }}

        {% if form.operator.vars.visible %}
            <div class="input-group">
                {{ form_widget(form.value) }}
                {{ form_widget(form.operator) }}
            </div>
        {% else %}
            <div class="col-12">
                {{ form_row(form.value) }}
                <div style="display: none;">
                    {{ form_row(form.operator) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block kreyu_data_table_personalization_column_data_row %}
    <li class="list-group-item">
        {{ data_table_column_label(form.vars.column) }}
        {{ form_widget(form.name) }}
        {{ form_widget(form.order) }}
        {{ form_widget(form.visible) }}
    </li>
{% endblock %}
