{% extends '@KreyuDataTable/themes/bootstrap_5.html.twig' %}

{% trans_default_domain 'KreyuDataTable' %}

{# Tabler Theme #}
{# @see https://tabler.io/ #}

{% block table %}
    {% with { table_attr: { class: 'table table-hover card-table table-vcenter' } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block table_body_row_no_results %}
    <tr>
        <td colspan="{{ column_count }}" {% with { attr: table_body_row_no_results_attr|default({}) } %}{{- block('attributes') -}}{% endwith %}>
            <div class="empty">
                <div class="empty-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="9" y1="10" x2="9.01" y2="10" />
                        <line x1="15" y1="10" x2="15.01" y2="10" />
                        <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                    </svg>
                </div>
                <p class="empty-title">{{ 'No results found'|trans }}</p>
                <p class="empty-subtitle text-muted">
                    {{ 'Try adjusting your search or filter to find what you\'re looking for'|trans }}
                </p>
            </div>
        </td>
    </tr>
{% endblock %}

{% block action_filter %}
    {% with { attr: { class: 'btn btn-primary btn-icon', title: 'Filter'|trans({}, 'KreyuDataTable') } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block action_filter_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5"></path>
    </svg>
{% endblock %}

{% block action_export %}
    {% with { attr: { class: 'btn btn-primary btn-icon', title: 'Export'|trans({}, 'KreyuDataTable') } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block action_export_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-spreadsheet" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
        <path d="M8 11h8v7h-8z"></path>
        <path d="M8 15h8"></path>
        <path d="M11 11v7"></path>
    </svg>
{% endblock %}

{% block action_personalize %}
    {% with { attr: { class: 'btn btn-primary btn-icon', title: 'Personalize'|trans({}, 'KreyuDataTable') } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block action_personalize_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
    </svg>
{% endblock %}

{% block filter_clear_all_button_icon %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 7l16 0"></path>
        <path d="M10 11l0 6"></path>
        <path d="M14 11l0 6"></path>
        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
    </svg>
{% endblock %}

{% block sort_arrow_none %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M8 9l4 -4l4 4"></path>
        <path d="M16 15l-4 4l-4 -4"></path>
    </svg>
{% endblock %}

{% block sort_arrow_asc %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 15l6 -6l6 6"></path>
    </svg>
{% endblock %}

{% block sort_arrow_desc %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 9l6 6l6 -6"></path>
    </svg>
{% endblock %}

{% block column_boolean_value %}
    {% with { attr: { class: 'badge ' ~ (value ? 'bg-green-lt' : 'bg-red-lt') } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block action_confirmation_modal_header %}{% endblock %}

{% block action_confirmation_modal_body %}
    <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-{{ modal_status_color_class }} icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
        </svg>
        <h3>{{ confirmation.label_title|trans({}, confirmation.translation_domain) }}</h3>
        <div class="text-muted">
            {{ confirmation.label_description|trans({}, confirmation.translation_domain) }}
        </div>
    </div>
{% endblock %}

{% block column_checkbox_header %}
    {% with { attr: { class: 'w-0' } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block batch_action_bar %}
    <div class="card-header" hidden data-kreyu--data-table-bundle--batch-target="batchActionBar">
        {{ block('batch_action_bar_title', theme) }}
        {{ block('batch_action_bar_actions', theme) }}
    </div>
{% endblock %}

{% block batch_action_bar_title %}
    {% with { wrapper_attr: { class: 'card-title fs-4 fw-normal text-muted mb-0' } } %}
        {{ parent() }}
    {% endwith %}
{% endblock %}

{% block action_button_control %}
    {% set is_icon_only = icon is not empty and label is empty %}

    {% if is_icon_only %}
        {# In Tabler, icon-only buttons require the "btn-icon" class for proper padding #}
        {% set attr = attr|merge({ class: ('btn-icon ' ~ attr.class|default(''))|trim }) %}
    {% endif %}

    {{ parent() }}
{% endblock %}