{% if dataTable.filtersForm.count > 0 %}
    <div class="mb-4">
        {{ form_start(dataTable.filtersForm) }}
        <div class="row">
            {% for child in dataTable.filtersForm.children %}
                <div class="col-12 col-lg-3 col-md-6">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary">Filtruj</button>
        {{ form_end(dataTable.filtersForm) }}
    </div>
{% endif %}

<table class="table">
    <thead>
    <tr>
        {% for column in dataTable.columns %}
            <th>{{ component('data-table-column-header', { dataTable, column }) }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in dataTable.pagination.items %}
        <tr>
            {% for column in dataTable.columns %}
                <td>{{ component('data-table-column-value', { dataTable, column, value: item }) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if dataTable.pagination.pageCount > 1 %}
    {% set current_page = app.request.query.get(dataTable.pageParameterName) %}

    <div>
        <ul class="pagination m-0 ms-auto">
            <li class="page-item {% if not dataTable.pagination.hasPreviousPage %}disabled{% endif %}">
                <a class="page-link"
                   href="{{ dataTable.pagination.hasPreviousPage ? path(
                       app.request.get('_route'),
                       app.request.query.all|merge({ (dataTable.pageParameterName): dataTable.pagination.currentPageNumber - 1 })
                   ) : '#' }}">
                    ‹
                </a>
            </li>

            {% for page_number in 1..dataTable.pagination.pageCount %}
                <li class="page-item {% if dataTable.pagination.currentPageNumber == page_number %}active{% endif %}">
                    <a class="page-link"
                       href="{{ path(app.request.get('_route'), app.request.query.all|merge({ (dataTable.pageParameterName): page_number })) }}">
                        {{ page_number }}
                    </a>
                </li>
            {% endfor %}

            <li class="page-item {% if not dataTable.pagination.hasNextPage %}disabled{% endif %}">
                <a class="page-link"
                   href="{{ dataTable.pagination.hasNextPage ? path(
                       app.request.get('_route'),
                       app.request.query.all|merge({ (dataTable.pageParameterName): dataTable.pagination.currentPageNumber + 1 })
                   ) : '#' }}">
                    ›
                </a>
            </li>
        </ul>
    </div>
{% endif %}
