{# @var \Kreyu\Bundle\Test\DataTableBundle\DataTableInterface data_table #}

{% macro render_label(context) %}
    {% if context.translation_domain is not same as false %}
        {{- context.label|trans(context.label_translation_parameters, context.translation_domain) -}}
    {% else %}
        {{- context.label -}}
    {% endif %}
{% endmacro %}

{% if sort_field %}
    {% set sort_direction = app.request.query.get(data_table.sortDirectionParameterName) %}
    {% set opposite_sort_direction = sort_direction == 'desc' ? 'asc' : 'desc' %}

    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({ (data_table.sortFieldParameterName): sort_field, (data_table.sortDirectionParameterName): opposite_sort_direction })) }}">
        {{ _self.render_label(_context) }}

        {% if sort_field == app.request.query.get(data_table.sortFieldParameterName) %}
            {% if sort_direction == 'asc' %}˄{% else %}˅{% endif %}
        {% endif %}
    </a>
{% else %}
    {{ _self.render_label(_context) }}
{% endif %}
