{% trans_default_domain 'KreyuDataTable' %}

{#{% block filters %}
    {{ data_table_filters_form(data_table) }}
{% endblock %}#}

{% block table %}
    <table class="table table-vcenter">
        {% block table_head %}
            <thead>
                <tr>
                    {% for name, column in headers.columns %}
                        <th data-column-name="{{ name }}">{{ column.vars.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
        {% endblock %}
        {% block table_body %}
            <tbody>
                {% for row in rows %}
                    {{ data_table_row(row) }}
                {% endfor %}

                {#{% for row in data_table.vars.rows %}
                    {% set row = data_table.createRowView(item) %}

                    {% block table_row %}
                        <tr>
                            {% for column in row.columns %}
                                {% block table_cell %}
                                    <td>{{ data_table_column_value(column) }}</td>
                                {% endblock %}
                            {% endfor %}
                        </tr>
                    {% endblock %}
                {% endfor %}#}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}

{#{% block pagination %}
    {{ data_table_pagination(data_table) }}
{% endblock %}

{% block personalization_modal %}
    <div class="modal modal-blur" id="{{ data_table.personalizationFormName }}" tabindex="-1" style="display: none;" aria-hidden="true">
        {% block personalization_modal_dialog %}
            <div class="modal-dialog modal-dialog-centered" role="document">
                {% block personalization_modal_content %}
                    <div class="modal-content">
                        {% block personalization_modal_header %}
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    {% block personalization_modal_title %}
                                        {{ 'Personalization'|trans({}, 'KreyuDataTable') }}
                                    {% endblock %}
                                </h5>
                                {% block personalization_modal_header_close_button %}
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                {% endblock %}
                            </div>
                        {% endblock %}
                        {% block personalization_modal_body %}
                            <div class="modal-body">
                                {{ data_table_personalization_form(data_table) }}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}#}
