{% trans_default_domain 'KreyuDataTable' %}

{{ data_table_filters_form(data_table) }}

<div class="mb-4">
    {% if data_table.personalizationEnabled %}
        {{ data_table_personalization_form(data_table) }}

        {% set columns = data_table.personalizationData.computedColumns %}
    {% else %}
        {% set columns = data_table.columns %}
    {% endif %}
</div>

<table class="table table-vcenter">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ data_table_column_header(data_table, column) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in data_table.pagination.items %}
            <tr>
                {% for column in columns %}
                    <td>{{ data_table_column_value(data_table, column, item) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ data_table_pagination(data_table) }}
