{% trans_default_domain 'KreyuDataTable' %}

{% block data_table_text %}
    <span>{{- value -}}</span>
{% endblock %}

{% block data_table_number %}
    <div class="text-end">
        <span>{{- value -}}</span>
    </div>
{% endblock %}

{% block data_table_boolean %}
    {% if value %}
        <span class="badge bg-green">{{ label_true|trans({}, translation_domain) }}</span>
    {% else %}
        <span class="badge bg-red">{{ label_false|trans({}, translation_domain) }}</span>
    {% endif %}
{% endblock %}

{% block data_table_link %}
    <a href="{{- href -}}" target="{{- target -}}">
        <span>{{- value -}}</span>
    </a>
{% endblock %}

{% block data_table_collection %}
    {% for child in children %}
        {{- data_table_column_value(child) -}}
        <span>{% if not loop.last %}{{ separator }}{% endif %}</span>
    {% endfor %}
{% endblock %}

{% block data_table_template %}
    {{ include(template_path, template_vars) }}
{% endblock %}

{% block data_table_actions %}
    {% for action in actions %}
        {{ include(action.template_path, action.template_vars) }}
    {% endfor %}
{% endblock %}