{{ render_data_table_filter_form(data_table) }}

{#<form>
    {% for filter in data_table.filters %}

    {% endfor %}

    <button class="btn btn-outline-primary">Filtruj</button>
</form>#}

<table class="table">
    <thead>
        <tr>
            {% for column in data_table.columns %}
                <th>{{ render_data_table_column_header(data_table, column) }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in data_table.pagination.items %}
            <tr>
                {% for column in data_table.columns %}
                    <td>{{ render_data_table_column_value(data_table, column, item) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if data_table.pagination.pageCount > 1 %}
    <div>
        <ul class="pagination m-0 ms-auto">
            <li class="page-item {% if not data_table.pagination.hasPreviousPage %}disabled{% endif %}">
                <a class="page-link"
                   href="{{ data_table.pagination.hasPreviousPage ? path(app.request.get('_route'), app.request.query.all|merge({ page: data_table.pagination.currentPageNumber - 1 })) : '#' }}">
                    ‹
                </a>
            </li>

            {% for page_number in 1..data_table.pagination.pageCount %}
                <li class="page-item {% if data_table.pagination.currentPageNumber == page_number %}active{% endif %}">
                    <a class="page-link"
                       href="{{ path(app.request.get('_route'), app.request.query.all|merge({ page: page_number })) }}">
                        {{ page_number }}
                    </a>
                </li>
            {% endfor %}

            <li class="page-item {% if not data_table.pagination.hasNextPage %}disabled{% endif %}">
                <a class="page-link"
                   href="{{ data_table.pagination.hasNextPage ? path(app.request.get('_route'), app.request.query.all|merge({ page: data_table.pagination.currentPageNumber + 1 })) : '#' }}">
                    ›
                </a>
            </li>
        </ul>
    </div>
{% endif %}
