{% block personalization_form %}
    {% with { form: data_table.personalizationForm } %}
        <div class="personalization-form">
            {{ form_start(form) }}
                {{ form_row(form._token) }}

                {% block personalization_form_help %}
                    <span class="mx-1">ⓘ</span> {{ 'Drag items between columns to show/hide relevant data in the list or change their order'|trans({}, 'KreyuDataTable') }}.
                {% endblock %}

                {% block personalization_form_content %}
                    <div class="row my-3">
                        {% set children = form.children.columns %}

                        {% block personalization_form_visible_columns %}
                            <div class="col-6">
                                <div class="list-group list-group-flush card">
                                    <div class="card-header">
                                        {{ 'Visible columns'|trans({}, 'KreyuDataTable') }}
                                    </div>

                                    <ul id="{{ form.vars.id }}_visible" class="personalization-columns p-2 mb-0" data-visible="1" style="cursor: pointer">
                                        {% for child in children|filter(child => child.vars.value.visible) %}
                                            {{ form_row(child) }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endblock %}

                        {% block personalization_form_hidden_columns %}
                            <div class="col-6">
                                <div class="list-group list-group-flush card">
                                    <div class="card-header">
                                        {{ 'Hidden columns'|trans({}, 'KreyuDataTable') }}
                                    </div>

                                    <ul id="{{ form.vars.id }}_visible" class="personalization-columns p-2 mb-0" data-visible="0" style="cursor: pointer">
                                        {% for child in children|filter(child => not child.vars.value.visible) %}
                                            {{ form_row(child) }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endblock %}
                    </div>

                    {% block personalization_form_submit %}
                        <div class="text-end">
                            <button class="btn btn-primary">{{ 'Apply'|trans({}, 'KreyuDataTable') }}</button>
                        </div>
                    {% endblock %}
                {% endblock %}
            {{ form_end(form, { render_rest: false }) }}

            <script>
                if (window.jQuery && typeof PersonalizationForm === 'function') {
                    $(function () {
                        const form = new PersonalizationForm(
                            '#{{ form.vars.id }}_visible',
                            '#{{ form.vars.id }}_hidden',
                            '.personalization-columns',
                        );

                        form.initialize();
                    });
                }
            </script>
        </div>
    {% endwith %}
{% endblock %}