{% block kreyu_data_table_filters_form2 %}
    {% if form.count > 0 %}
        {{ form_start(form, { attr: { 'data-turbo-action': 'advance' } }) }}
        <table>
            <tbody>
            {% for child in form %}
                <tr>
                    <td>{{ form_row(child) }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="2">
                    <button>{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
                </td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block filtration_widget %}

{% endblock %}

{% block filtration_form %}
    {{ form_start(form, { attr: { 'data-turbo-action': 'advance' } }) }}
        {{ block('filtration_form_content') }}
    {{ form_end(form) }}
{% endblock %}

{% block filtration_form_content %}
    {% for child in form %}
        {{ block('filtration_form_row') }}
    {% endfor %}

    {{ block('filtration_form_submit') }}
{% endblock %}

{% block filtration_form_row %}
    {{ form_row(child) }}
{% endblock %}

{% block filtration_form_submit %}
    <button class="btn btn-primary">{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
{% endblock %}